modules = ["go-1.21"]

[nix]
channel = "stable-25_05"
packages = ["postgresql_17_jit"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38871438
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"

[[ports]]
localPort = 8080
externalPort = 80
